fieldset {
  margin: 2rem 0;
  padding: 1rem;
}

.pure-form label {
    font-size: 80%;
}

.pure-form input[type],
.pure-form textarea {
    border: 2px solid #ddd;
    box-shadow: none;
    font-size: 100%;
    width: 100%;
    display: block;
    margin-bottom: 1em;
    -webkit-appearance: none;
    box-shadow: none;
    padding: 0.8em;

    &:focus { border-color: $xignal-orange; }
}