@import "raw-colors";

$action-color: $primary-blue-6;
$primary-nav-and-footer-colour: $xignal-blue;
$navigation-link-colour: $primary-blue-6;

$title-colour: $grey-7;

$primary-section-background-colour: $primary-blue-4;
$secondary-section-background-colour: $grey-11;
