$xignal-blue: #36bfcb;
$xignal-orange: #f7b113;
$xignal-background: #f2f2f2;
$xignal-text: #808080;

$primary-orange: #ff955b;
$primary-blue-1: #181f23;
$primary-blue-2: #1d272e;
$primary-blue-3: #2c3c47;
$primary-blue-4: #3f5666;
$primary-blue-5: #1775b2;
$primary-blue-6: #18a3c7;

$secondary-red:    #f27975;
$secondary-green:  #b9d773;
$secondary-blue:   #75ccd4;
$secondary-purple: #b196da;
$secondary-yellow: #f6c90e;

$black:   #000;
$grey-1:  #1a1a1a;
$grey-2:  #333;
$grey-3:  #4d4d4d;
$grey-4:  #666;
$grey-5:  #808080;
$grey-6:  #979797;
$grey-7:  #b1b1b1;
$grey-8:  #cacaca;
$grey-9:  #e4e4e4;
$grey-10: #f0f0f0;
$grey-11: #f4f4f4;
$white:   #fff;

$risk-grade-a: #90b8f9;
$risk-grade-b: #e3eb8f;
$risk-grade-c: #ffda6e;
$risk-grade-d: #ffc077;
$risk-grade-e: #eb8483;
$risk-grade-f: #eb8aa8;

$utility-red: #e03d4c;

$tone-yellow-1: #cdcbb9;
$tone-yellow-2: #d8d6c6;
$tone-yellow-3: #e3e1d2;
$tone-yellow-4: #edebde;
$tone-yellow-5: #f8f6eb;
$tone-yellow-6: #fffcf2;

$tone-green-1: #bdbebd;
$tone-green-2: #c6c8c6;
$tone-green-3: #d1d2d1;
$tone-green-4: #dbdcdb;
$tone-green-5: #e5e7e5;
$tone-green-6: #eaecea;

$tone-red-1: #c0bcbc;
$tone-red-2: #cac6c5;
$tone-red-3: #d5d0d0;
$tone-red-4: #dedada;
$tone-red-5: #e9e5e4;
$tone-red-6: #eeeae9;

$tone-blue-1: #b4bec3;
$tone-blue-2: #bec8cc;
$tone-blue-3: #c9d2d7;
$tone-blue-4: #d4dee3;
$tone-blue-5: #dde7eb;
$tone-blue-6: #e3edf1;
