*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
body{background:#f2f2f2;color:grey;font-family:'Open Sans',Helvetica,Arial,sans-serif;font-size:13px;line-height:1.7em}
h1,h2,h3,h4,h5,h6,label{font-family:'Open Sans',Helvetica,Arial,sans-serif;color:#34495e}
p{font-family:'Open Sans',Helvetica,Arial,sans-serif}
.pure-img-responsive{max-width:100%;height:auto}
.pure-form label{font-size:80%}
.pure-form input[type],.pure-form textarea{border:2px solid #ddd;font-size:100%;width:100%;display:block;margin-bottom:1em;-webkit-appearance:none;box-shadow:none;padding:.8em}
.pure-form input[type]:focus,.pure-form textarea:focus{border-color:#f7b113}
.pure-button{background:#f7b113;border-radius:9999px!important;color:#fff;font-weight:700;padding:1em 2em;transition:background-color .5s ease}
.pure-button:active,.pure-button:focus,.pure-button:hover{box-shadow:none;background-image:none!important}
.pure-button:hover{background:#f9c144;color:#fff}
.pure-button:active{box-shadow:inset 0 3px 5px rgba(0,0,0,.1)}
.home-menu{background:#404040;display:inline-block;padding:.5em;text-align:center;text-transform:uppercase;width:100%}
.pure-menu.pure-menu-fixed{border-bottom:none;z-index:4}
.home-menu a.pure-menu-heading{color:#fff;font-weight:700;font-size:120%;opacity:1}
.home-menu .pure-menu-selected a{color:#fff}
.home-menu ul.pure-menu-list{display:none}
.home-menu li a{color:#FFF;font-size:80%;opacity:.7;line-height:3em}
.home-menu li a:focus,.home-menu li a:hover{background:0 0;border:none;opacity:1}
.header .title{background:#36bfcb;display:block;width:100%;position:relative}
.header .title h1{font-size:120%;color:#fff;margin:.25em 0;font-weight:700}
.content-wrapper{margin-top:4em}
.content{margin:0 auto;max-width:600px}
.respondent h2{font-size:2em;font-weight:300}
.respondent .story{font-size:1.6em;font-weight:300}
.respondent .story p{line-height:1.2em}
.respondent .range{margin:0;padding:.5em 0 1em}
.respondent .range li{display:inline-block;margin:0;padding:0 .3em}
.respondent .range li a{display:block;height:1.5em;width:1.5em;border:3px solid #ddd;border-radius:9999px}
.respondent .range li a:hover{background:#ddd}
.respondent .range li a span{display:block}
.respondent .range li a.active{background:#f7b113;border-color:#f7b113}
.respondent .tag{margin:0 auto;position:absolute;display:inline-block;color:#aaa;font-size:60%;height:1em;width:5em;padding:.2em 0}
.respondent .tag.left,.respondent .tag.right{text-align:center;margin-left:-2.5em}
.powered-by{position:absolute;bottom:30px;left:50%;margin-left:-3em;font-family:'Open Sans',Helvetica,Arial,sans-serif;color:#ccc}
.powered-by span{display:block;height:2em;line-height:2em;vertical-align:middle}
.powered-by a{opacity:.3;transition:opacity .5s ease;clear:both}
.powered-by a:hover{opacity:1}
.l-box{padding:1em}
.text-center{text-align:center}
.text-left{text-align:left}
.text-right{text-align:right}
.text-grey{color:#b3b3b3}
.text-small{font-size:80%}
a.clean{border:none!important}
.well{background:#fff;border-radius:5px;border:1px solid #ccc;padding:1em}
@media (min-width:48em){body{font-size:16px}
.content{padding:1em}
.home-menu{text-align:left}
.home-menu ul{display:inline-block;float:right;padding-right:1em;position:absolute;right:0;top:.6em}
.home-menu ul.pure-menu-list{display:inline-block}
.splash{width:50%;height:50%}
.splash-head{font-size:250%}
.l-box-lrg{border:none}}
@media (min-width:78em){.splash-head{font-size:300%}}