<link rel="stylesheet" href="/css/app.css">

<!--Header-->
<header class="wrapper">
    <div class="pure-g inner">
        <div class="pure-u-1">
            <div class="pure-menu pure-menu-horizontal">
                <ul class="pure-menu-list">
                    <li class="pure-menu-item"><a class="pure-menu-link" href="/">Home</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>

<!--Main-->
<div class="wrapper main">
    <div class="pure-g inner">

        <!--Sidebar 1-->
        <div class="pure-u-6-24">

        </div>

        <!--Main content-->
        <div class="pure-u-18-24">
            <h1>Dashboard: Your surveys</h1>

            <div class="pure-g">
                <div class="pure-u-8-24 tile subtle">
                    <a class="pure-button pure-button-primary" href="">Create survey</a>
                </div>
                <div class="pure-u-8-24 tile subtle">
                    <h3>Survey name goes here</h3>
                    <date>Date of survey</date>
                    <p>Responses: XX</p>
                </div>
                <div class="pure-u-8-24 tile subtle">
                    <h3>Survey name goes here</h3>
                    <date>Date of survey</date>
                    <p>Responses: XX</p>
                </div>
                <div class="pure-u-8-24 tile subtle">
                    <h3>Survey name goes here</h3>
                    <date>Date of survey</date>
                    <p>Responses: XX</p>
                </div>
                <div class="pure-u-8-24 tile subtle">
                    <h3>Survey name goes here</h3>
                    <date>Date of survey</date>
                    <p>Responses: XX</p>
                </div>

            </div>

        </div>

    </div>
</div>

<!--Footer-->
<footer class="wrapper">
    <div class="pure-g inner">
        <div class="pure-u-1">
            <p>This is the footer.</p>
        </div>
    </div>
</footer>

<%- partial('spa-scripts.ejs') %>
