<link rel="stylesheet" href="/css/app.css">

<!--Header-->
<header class="wrapper">
    <div class="pure-g inner">
        <div class="pure-u-1">
            <div class="pure-menu pure-menu-horizontal">
                <ul class="pure-menu-list">
                    <li class="pure-menu-item"><a class="pure-menu-link" href="/">Home</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>

<!--Main-->
<div class="wrapper main">
    <div class="pure-g inner">

        <!--Main content-->
        <div class="pure-u-1">
            <h1>Dashboard: Your surveys</h1>

            <div class="tile subtle">
                <a class="pure-button pure-button-primary" href="">Create survey</a>
            </div>
            <survey-tile
                    survey-name="'My survey name'"
                    survey-date="'2015-03-08T01:01:18.291Z'"
                    survey-response-count="23"
                    survey-status="open"
            ></survey-tile>
            <survey-tile
                    survey-name="'Another survey name'"
                    survey-date="'2015-03-08T01:01:18.291Z'"
                    survey-response-count="16"
                    survey-status="open"
            ></survey-tile>
            <survey-tile
                    survey-name="'Me survey amigo closed'"
                    survey-date="'2015-03-08T01:01:18.291Z'"
                    survey-response-count="20"
                    survey-status="closed"
            ></survey-tile>
            <survey-tile
                    survey-name="'My survey name closed'"
                    survey-date="'2015-03-08T01:01:18.291Z'"
                    survey-response-count="23"
                    survey-status="closed"
            ></survey-tile>
            <survey-tile
                    survey-name="'My survey name'"
                    survey-date="'2015-03-08T01:01:18.291Z'"
                    survey-response-count="23"
                    survey-status="closed"
            ></survey-tile>
        </div>

    </div>
</div>

<!--Footer-->
<footer class="wrapper">
    <div class="pure-g inner">
        <div class="pure-u-1">
            <p>This is the footer.</p>
        </div>
    </div>
</footer>

<%- partial('spa-scripts.ejs') %>
<script src="app/dashboard/surveyTileDirective.js"></script>
