<div class="home">

  <link rel="stylesheet" href="/css/home.css" />

  <div class="header">
    <div class="home-menu pure-menu pure-menu-open pure-menu-horizontal pure-menu-fixed">
      <a class="pure-menu-heading" href="">XIGNAL</a>
      <ul class="pure-menu-list">
        <li class="pure-menu-item pure-menu-selected">
          <a class="pure-menu-link" href="/">Home</a>
        </li>
        <li class="pure-menu-item">
          <a class="pure-menu-link" href="/register">Register</a>
        </li>
        <li class="pure-menu-item">
          <a class="pure-menu-link" href="/signin">Sign in</a>
        </li>
        <li class="pure-menu-item">
          <a class="pure-menu-link" href="/profile">Profile</a>
        </li>
        <li class="pure-menu-item">
          <a class="pure-menu-link" href="/dashboard">Dashboard</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="splash-container">
    <div class="splash">
      <h1 class="splash-head"><img src="/images/logo-md-neg.png" class="pure-img" /></h1>
      <p class="splash-subhead">
        Capturing value from your presentations
      </p>
      <p>
        <a href="/survey/1234567890" class="pure-button pure-button-primary">Take a sample survey</a>
      </p>
    </div>
  </div>

  <div class="content-wrapper">
    <div class="content">
      <h2 class="content-head is-center">Capture value from your presentations.</h2>

      <div class="pure-g">

        <img src="/images/app-home-1-m.png"  class="pure-img" />
        <img src="/images/app-home-2-m.png"  class="pure-img" />
        <img src="/images/app-home-3-m.png"  class="pure-img" />

      </div>
    </div>

    <div class="footer l-box is-center">
      Made with love by the @xignalapp team
    </div>
  </div>
</div>
