<link rel="stylesheet" href="/css/app.css">

<header class="wrapper">
    <div class="pure-g inner">
        <div class="pure-u-1">
            <div class="pure-menu pure-menu-horizontal">
                <ul class="pure-menu-list">
                    <li class="pure-menu-item"><a class="pure-menu-link" href="/">Home</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>

<!--Main-->
<div class="wrapper main">
    <div class="pure-g inner">

        <!--Sidebar 1-->
        <div class="pure-u-6-24">

        </div>

        <!--Main content-->
        <div class="pure-u-12-24">
            <h1>Your profile</h1>

            <form class="pure-form pure-form-aligned" action="">
                <fieldset>
                    <div class="pure-control-group">
                        <label for="first-name">First name</label>
                        <input type="text" id="first-name" required />
                    </div>
                    <div class="pure-control-group">
                        <label for="last-name">Last name</label>
                        <input type="text" id="last-name" required />
                    </div>
                    <div class="pure-control-group">
                        <label for="email">Email</label>
                        <input type="email" id="email" required />
                    </div>
                    <a class="pure-button pure-button-primary" href="#">Save changes</a>
                </fieldset>
            </form>
        </div>

        <!--Sidebar 2-->
        <div class="pure-u-6-24">

        </div>

    </div>
</div>

<!--Footer-->
<footer class="wrapper">
    <div class="pure-g inner">
        <div class="pure-u-1">
            <p>This is the footer.</p>
        </div>
    </div>
</footer>
